<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pagenguyen.elib" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="ANDROID.PERMISSION.RECORD_AUDIO" />

    <application
        android:name=".ElibApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_slogan"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.main.HomeActivity"
            android:label="@string/app_name_slogan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".ui.main.HomeActivity"
            android:windowSoftInputMode="adjustResize|stateHidden|adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.main.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".ui.main.LoginActivity"
            android:windowSoftInputMode="adjustResize|stateHidden|adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.LoginActivity" />
        </activity>
        <activity
            android:name=".ui.dictionary.SearchVocabActivity"
            android:label="@string/title_activity_search_vocab"
            android:parentActivityName=".ui.main.HomeActivity"
            android:windowSoftInputMode="adjustResize|stateHidden|adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.dictionary.TranslatorActivity"
            android:label="@string/title_activity_translator"
            android:parentActivityName=".ui.main.HomeActivity"
            android:windowSoftInputMode="adjustResize|stateHidden|adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.dictionary.VocabContentActivity"
            android:label="@string/title_activity_vocab_content"
            android:parentActivityName=".ui.dictionary.SearchVocabActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.dictionary.SearchVocabActivity" />
        </activity>
        <activity
            android:name=".ui.stories.StoryListActivity"
            android:label="@string/title_activity_story_list"
            android:parentActivityName=".ui.main.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.stories.StoryContentActivity"
            android:label="@string/title_activity_story_content"
            android:parentActivityName=".ui.stories.StoryListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.stories.StoryListActivity" />
        </activity>
        <activity
            android:name=".ui.exercise.ExerciseListActivity"
            android:label="@string/title_activity_list_exercise"
            android:parentActivityName=".ui.main.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.exercise.FillInBlanksActivity"
            android:label="@string/title_activity_exercise_content"
            android:parentActivityName=".ui.exercise.ExerciseListActivity"
            android:windowSoftInputMode="adjustResize|stateHidden|adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.exercise.ExerciseListActivity" />
        </activity>
        <activity
            android:name=".ui.topics.TopicListActivity"
            android:label="@string/title_activity_topic_list"
            android:parentActivityName=".ui.main.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pagenguyen.elib.ui.main.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.topics.TopicContentActivity"
            android:label="@string/title_activity_topic_content_actitvity"
            android:parentActivityName=".ui.topics.TopicListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pagenguyen.elib.ui.topics.TopicListActivity" />
        </activity>
        <activity
            android:name=".ui.exercise.MultipleChoiceActivity"
            android:label="@string/title_activity_multiple_choice"
            android:parentActivityName=".ui.exercise.ExerciseListActivity"
            android:windowSoftInputMode="adjustResize|stateHidden|adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.exercise.ExerciseListActivity" />
        </activity>
        <activity
            android:name=".ui.pronounce.PronouncePracticeActivity"
            android:label="@string/title_activity_pronounce_practice"
            android:parentActivityName=".ui.main.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pagenguyen.elib.ui.main.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.notebook.MyNotebookActivity"
            android:label="@string/title_activity_my_notebook"
            android:parentActivityName=".ui.main.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pagenguyen.elib.ui.main.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.exercise.ExerciseResultActivity"
            android:label="@string/title_activity_exercise_result"
            android:parentActivityName=".ui.main.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pagenguyen.elib.ui.main.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.grammar.GrammarActivity"
            android:label="@string/title_activity_grammar"
            android:parentActivityName=".ui.main.HomeActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pagenguyen.elib.ui.main.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.grammar.GrammarDetailActivity"
            android:label="@string/title_activity_grammar_detail"
            android:parentActivityName=".ui.grammar.GrammarActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pagenguyen.elib.ui.grammar.GrammarActivity" />
        </activity>
    </application>

</manifest>
